@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 59, 130, 246;
  --background-end-rgb: 0, 100, 211;
  
  scroll-behavior: smooth;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.mainHeadline{
  -webkit-text-stroke: 2px #434656;
}

body section {
  border-radius: 0.25rem;;
}

.landingOL a {
  text-decoration: none;
  position: relative;
  display: inline-block;
}

.landingOL a::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: rgba(255, 255, 255, 0.75);
  transform-origin: bottom right;
  transition: transform 0.3s ease-out;
}

.landingOL a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/*  Rename Image section  */

#Rename {
  background: linear-gradient(270deg, #3b82f6, #007bff, #0056b3, #007bff, #3b82f6);
  background-repeat: no-repeat;
  background-size: 400% 400%;
  min-height: 100vh;
  animation: gradientAnimation 60s ease-in-out infinite;

  display: grid; 
  grid-template-rows: auto 1fr;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 25%;
  }
  50% {
    background-position: 10% 50%;
  }
  100% {
    background-position: 0% 25%;
  }
}
